.header{
    display: flex;
    justify-content: space-between;

}
.logo{
    height: 3rem;
    width: 10rem;
}
.menu{
    display: flex;
    gap: 29px;
    list-style: none;
    color: white;

}
.menu>li:hover{
    cursor: pointer;
    color: var(--orange);
}